* {
  padding: 0;
  margin: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
}

header {
  background: #0D0D2B;
  width: 1440px;
  height: 850px;
  z-index: 1;
}

.img1 {
  position: absolute;
  left: 1000px;
  top: 350px;
}

.img2 {
  position: absolute;
  left: 520px;
  top: 350px;
}

.navbar {
  width: 1202px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 60px;
}

.navbar a {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 0px 16px 0px 16px;
}

.navbar p {
  height: 24px;
}

.chap_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ong_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sing {
  width: 130px;
  height: 52px;
  text-align: center;
  border: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sing:hover {
  width: 127px;
  height: 49px;
  border: 1px solid #3671E9;
  border-radius: 32px;
  background: #3671E9;
}

.save {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 365px;
  border-radius: 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.s75 {
  margin: 0px 15px 0px 0px;
  border: 1px solid white;
  color: black;
  background: white;
  border-radius: 32px;
  padding: 2px 8px 2px 8px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1202px;
  margin: 0 auto;
}

.intro p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 435px;
  margin-bottom: 32px;
}

.intro h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.intro a {
  background: #3671E9;
  border: 1px solid #3671E9;
  border-radius: 32px;
  width: 202px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.intro a img {
  margin-left: 20px;
}

main {
  background: #0D0D2B;
  width: 1440px;
  z-index: 2;
}

.sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1202px;
  margin: 0 auto;
  height: 865px;
}

.sec1_tepa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.plar h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
}

.plar p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}

.sec1_past {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learn h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
}

.learn p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
  padding: 24px 0px 32px 0px;
  width: 408px;
}

.learn a {
  width: 146px;
  height: 59px;
  background: #3671E9;
  border-radius: 32px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: white;
}

.img3 {
  position: absolute;
  margin-top: 400px;
  margin-left: -350px;
}

.img4 {
  position: absolute;
  left: 1500px;
  margin-top: 170px;
}

.img5 {
  position: absolute;
  left: 1500px;
  margin-top: 600px;
}

.h_1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  width: 741px;
  padding-top: 100px;
}

.p_1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #E0E0E0;
  margin: auto;
  width: 622px;
  padding-bottom: 280px;
  padding-top: 24px;
}

.cal {
  position: absolute;
  width: 942px;
  height: 371px;
  background: white;
  margin: -200px 0px 0px 250px;
  border-radius: 22px;
}

.cal1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 62px 48px 48px 48px;
}

.cal1 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 147px;
  height: 50px;
  background: #3671E9;
  border-radius: 32px;
  border: 0px;
}

.hash {
  width: 403px;
  height: 38px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #E0E0E0 !important;
}

.th {
  width: 200px;
  height: 38px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #E0E0E0 !important;
}

.cal2 {
  padding: 48px 0px 68px 48px;
  height: 216px;
}

.cal2 h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671E9;
}

.cal2 h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #0D0D2B;
  padding: 16px 0px 1px 0px;
}

.cal2 h1 span {
  color: #3671E9;
}

.cal2 p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #828282;
}

.sec2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F9FB), to(#FAFBFF));
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
  height: 1210px;
}

.sec2h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
  margin: auto;
  width: 741px;
  padding-top: 280px;
}

.sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.coin {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 370px;
  height: 433px;
  background: #FFFFFF;
  border-radius: 16px;
}

.coin h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  text-align: center;
  color: #0D0D2B;
  padding-top: 48px;
}

.coin h1 span {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #BDBDBD;
}

.coin p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #828282;
  padding: 16px 0px 26px 0px;
}

.coin button {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.521);
  background: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.coin button span {
  display: none;
}

.coin button:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 16px 16px 24px;
  width: 205px;
  height: 64px;
  background: #3671E9;
  border-radius: 32px;
  border: 0px;
}

.coin button:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: white;
}

.coins {
  margin: 50px 150px 0px 150px;
}

.coin:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #2B076E;
  -webkit-backdrop-filter: blur(250px);
          backdrop-filter: blur(250px);
  border-radius: 16px;
}

.coin:hover h1 {
  color: white;
}

.coin:hover p {
  color: white;
}
/*# sourceMappingURL=style.css.map */